* {
  box-sizing: border-box;
  font-family: "Space Mono";
}

body {
  background-color: hsl(185, 54%, 80%);
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Space Mono";
  font-size: 1em;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  padding: 3em;
}

.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 0;
  border-radius: 0.3em;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  text-align: right;
  font-weight: bolder;
}

.input--tip {
  display: flex;
  justify-content: flex-end;
  width: 96%;
  border: 0;
  border-radius: 0.3em;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  text-align: right;
  font-weight: bolder;
  padding: 0.2em;
}

.input--error {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: 0;
  border-radius: 0.3em;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  text-align: right;
  font-weight: bolder;
}

.input--tip:focus {
  outline: none !important;
  border: 0.01em solid hsl(155, 95%, 63%);
}
.input--error:focus {
  outline: none !important;
  border: 0.01em solid chocolate;
}
.input:focus {
  outline: none !important;
  border: 0.01em solid hsl(155, 95%, 63%);
}

.main-container_tip_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-container_tip--button {
  background-color: hsl(183, 100%, 15%);
  outline: none;
  border: none;
  padding: 1em;
  margin-bottom: 3%;
  margin-right: 5%;
  color: azure;
  font-weight: bold;
  border-radius: 0.3em;
}

.main-container_tip--button--selected {
  background-color: hsl(167, 65%, 55%);
  color: hsl(183, 100%, 15%);
  outline: none;
  border: none;
  padding: 1em;
  margin-bottom: 3%;
  margin-right: 5%;

  font-weight: bold;
  border-radius: 0.3em;
}

.main-container_tip--button--selected--fullwidth {
  background-color: hsl(167, 65%, 55%);
  color: hsl(183, 100%, 15%);
  outline: none;
  border: none;
  padding: 1em;
  margin-bottom: 3%;
  margin-right: 5%;
  font-weight: bold;
  width: 100%;
  border-radius: 0.3em;
}

.main-container_tip--button:hover {
  background-color: hsl(172, 67%, 45%);
}

.label {
  margin: 0.5em;
}

.input--icon {
  position: absolute;
  margin: 0.6em;
}
.main-container_tip--input:hover {
  background-color: hsl(189, 41%, 97%);
}

.main-container_display {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1em;
  font-size: 1em;
  margin: 2em 0;
  width: 100%;
  color: azure;
  padding: 1em;
  align-items: baseline;
  margin: 1em auto;
}

.main-container_display_detail--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0.5em;
}
.main-container_display_detail--item--description {
  list-style-type: none;
  font-size: 0.9em;
  align-self: center;
}

.main-container_display_detail--item--description > li {
  font-size: 0.7em;
  color: hsl(189, 41%, 50%);
}

.main-container_display_detail--item--amount {
  color: hsl(172, 54%, 69%);
  font-size: 2em;
}

.main-container_display--button {
  width: 100%;
  padding: 1em;
  background-color: hsl(172, 67%, 45%);
  border-radius: 0.5em;
  border: none;
  font-size: 1.2em;
  font-weight: bolder;
}

.label {
  display: flex;
  justify-content: space-between;
  color: hsl(186, 14%, 43%);
}

.errorMessage {
  color: chocolate;
}
/* Delete input number type's arrows.
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 1240px) {
  .main-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding: 1em;
    -webkit-box-shadow: 2px 12px 15px -12px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 12px 15px -12px rgba(0, 0, 0, 0.7);
  }

  .main-container_configuration {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
  }

  .main-container_display {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-container_display--detail {
    display: flex;
    flex-direction: column;
  }

  .main-container_display_detail--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150%;
  }

  .main-container_tip_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .input--icon {
    position: absolute;
    margin: 0.6em;
  }
}
/**
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 400, 500, 700
**/ ;
